@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');
:root {
    --cor-principal: linear-gradient(to top, #FFFFFF, #ECE9E6); 
    --cor-secundária: #212121;
    --cor-tercearia: #ff4321;

    --cor-de-gradiente1: linear-gradient(to top, #22031F 0%, #320E3B 100%);
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

* {
    margin: 0;
    padding: 0;
}

.dark__theme {
    --cor-principal: linear-gradient(to top, #000000 0%, #030627 100%);
    --cor-secundária: #fff;
}

.hero {
    height: 100vh;
    width: 100%;
    background: var(--cor-principal);
    font-family: sans-serif;
    position: relative;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > img {
    max-width:150px; 
    max-height:100px; 
    width: auto; 
    height: auto; 
    cursor: pointer;
}

nav ul {
    flex: 1;/* observar a inserção do dark mode e margin aqui */
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-secundária);
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--cor-tercearia);
    transition: .5s;
}

#icone {
    width: 30px;
    cursor: pointer;
    color: #606163; 
}

.info {
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 20px;
}

.info h1 {
    font-size: 70px;
    color: var(--cor-secundária);
}

.info h1 span {
    color: var(--cor-tercearia);
}

.info p {
    padding-top: 1.5rem;
    color: var(--cor-secundária);
    line-height: 24px;
}

/*  */

.info__download {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .info__download {
    margin-top: 2rem;
    padding: 19px 28px;
  }
}

.info__download:before,
.info__download:after {
  border-radius: 80px;
}

.info__download:before {
  background-image: linear-gradient(92.83deg,var(--cor-tercearia) 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.info__download:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #000000 100%); /* 0c0c0d */
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.info__download:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.info__download:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.info__download:active:not(:disabled) {
  color: #ccc;
}

.info__download:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(14, 6, 83, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.83deg, #ff4321 0, #f93a13 100%);
}

.info__download:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0a0a39 100%); /* 0c0c0d */
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.info__download:disabled {
  cursor: default;
  opacity: .24;
}

.container__img {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.container__img img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.container__img:hover .container__imb--fundo {
    bottom: 40px;
}

.container__img:hover .container__imb--frente {
    left: 54%;
}

.social-links {
    margin-left: 9.3%;
    margin-top:50px;
    /* margin-bottom: 20px;  
    display: flex;
    gap: 2rem; */
}

.social-links a {
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
}

.social-links a:hover {
    transition: 0.5s;
    color: var(--cor-tercearia);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

#preloader {
    background: #ffffff url(/SPA-personal-portfolio/assets/loader.gif) no-repeat center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.caixote {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vw; */
    flex-direction: column;
    gap: 1rem;
}
 
#caixote__titulo {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

#caixote__titulo:hover {
    transition: .5s;
    cursor: pointer;

}

#caixote__linha {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 2rem;
}

/* aqui começa o botao*/
html {
    height: 110%;
  }
  
  .login-box {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 500px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: linear-gradient( #000000,#212121c0);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
  }

  .login-box~span {
    color: var(--cor-tercearia);
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size:16px;
    color: white;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--cor-tercearia);
    font-size: 14px;
  }
  
  
/* aqui termina */

@media screen and (max-width:412px) {
    nav ul {
        display: none;
    }

    .info {
        margin-right: 10%;
        margin-top: 100%;
        margin-bottom: 0;
     
    }

    .info h1 {
        font-size: 30px;
        color: var(--cor-secundária);
        padding-bottom: 1.5rem;
        text-align: center;
    }
    
    .info h1 span {
        color: var(--cor-tercearia);
    }
    
    .info p {
        color: #606163;
        line-height: 12px;
        line-height: 1.4rem;
    }
    
    .container__img {
        width: 45%;
        height: 40%;
        position: absolute;
        top: 9rem;
        right: 130px;
    }

    .social-links {
        margin-left: 36%;
        margin-top:2rem;
       
    }
}
