@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');
:root {
    --cor-de-fundo: #EBECEE;
    --cor-de-fundo-footer: #F9F9F9;
    --cor-de-gradiente1: linear-gradient(to top, #09203f 0%, #537895 100%);
    --fonte-comi: 'Commissioner', sans-serif;;
    --laranja: #EB9B00;
    --branco: #FFFFFF;
    --azul: #002F52;
    --preto: black; 
    --cinza: #858585;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}

body {
    font-family: var(--fonte-comi);
}

.preloader {
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.caixote__nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
     height: 178px;
    background-color: #F94F4F ;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.caixote__nav--call {
    color: white;
    background-color: black;
    padding: 1rem;
}

.logo__joabe {
    width: 20%;
    padding-left: 2rem;
    padding-top: 2rem;
    text-align: center;
} 

.main__principal {
    background-image: url('/SPA-personal-portfolio/assets/image-hero.jpg');
    height: 100vh;
}

.main__principal--caixote {
    /* display: flex;
    flex-direction: column; */
    gap: 1rem;
    height: 40vh;

}

.main__principal--titulo {
    font-size: 56px;
    font-weight: 800;
}

.main__principal--texto {
    font-size: 15px;    
    font-weight: 400;
}

.main__principal--botao {
    background-color: #F94F4F;
    position: absolute;
    width: 177px;
    height: 72px;
    left: 39px;
    top: 562px;
    color: white;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    
}